In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [2]:
df = pd.read_csv('F:/Data Science/Data Sets/T20 Match Score Prediction/t20_dataset_cleaned.csv')

In [3]:
df.head(2)

,Unnamed: 0,batting_team,bowling_team,current_score,wickets_left,crr,city,balls_left,last_five,target
0,45868,Pakistan,New Zealand,78,8,7.43,Auckland,57,36.0,172
1,39771,West Indies,Bangladesh,103,8,7.82,Mirpur,41,48.0,172

In [4]:
df.drop(['Unnamed: 0'],axis=1,inplace=True)

In [6]:
df.shape

(50501, 9)

### Defining inputs and targets:

In [9]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [10]:
X.head(2)

,batting_team,bowling_team,current_score,wickets_left,crr,city,balls_left,last_five
0,Pakistan,New Zealand,78,8,7.43,Auckland,57,36.0
1,West Indies,Bangladesh,103,8,7.82,Mirpur,41,48.0

In [12]:
y[:5]

0    172
1    172
2    143
3    119
4    180
Name: target, dtype: int64

### Train Test Split:

In [13]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=1)

In [14]:
X_train.shape, y_train.shape

((40400, 8), (40400,))

In [15]:
X_test.shape, y_test.shape

((10101, 8), (10101,))

## Model Building:

In [16]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.metrics import r2_score,mean_absolute_error

In [17]:
trf = ColumnTransformer([
    ('trf',OneHotEncoder(sparse=False,drop='first'),['batting_team','bowling_team','city'])
]
,remainder='passthrough')

In [18]:
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',StandardScaler()),
    ('step3',XGBRegressor(n_estimators=1000,learning_rate=0.2,max_depth=12,random_state=1))
])

In [19]:
pipe.fit(X_train,y_train)
y_pred = pipe.predict(X_test)
print(r2_score(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))

0.9620142976292243
2.467687142389787

In [20]:
import pickle
pickle.dump(pipe,open('F:/Data Science/Data Sets/T20 Match Score Prediction/pipe.pkl','wb'))